{% extends "DROUSSBookBundle::base.html.twig" %}
{% block cumtom %}
    <style>
      #mother {
   		padding-top: 19px;
	}
    </style>
{% endblock %}
{% block body %}
	<div class="row milieu">
        {% for row in tableBook %}
           <div class="row">
                {% for book in row %}
                     <div class="col-sm-12  col-md-6 col-lg-6">
                      <div class="row" style="padding-left: 20px;padding-right: 20px;">
                        <div class="col-xs-4">
                           <a href="{{  path('book_view_pub', {'name' : book.getTitle |insertSep }) }}"><img src="{{ gbd }}/media/couverture/{{ book.getBlanketPath }}"
                                        class="center-block" style="top: -14px;"></a>
                        </div>
                        <div class="col-xs-8">
							<div class="row" >
								<div class="col-lg-12">
									 <div><a href="{{  path('book_view', {'name' : book.getTitle|insertSep }) }}" class="" style="    text-align: left;
 
    font-size: 18px;text-transform:capitalize;
    line-height: 1.3333333;
    padding-left: 0;
    color: #375881;
    font-weight: 400;">{{ book.getTitle |truncate(30,'')}}</a></div>
								</div>
								<div class="col-lg-12">
									 <div class="">Ecrit par : <span class="grise"><a class="" >{{ book.getAuthor.name}}</a></span></div>
                      
								</div>
								<div class="col-lg-12">
									<div>Categorie : <span class="grise"><a class="" >{{ book.getCategory.name}}</a></span></div>
                         
								</div>
								{% if  book.getScience |length > 0 %}
								<div class="col-lg-12">
									<div>Science : <span class="grise"><a class="" > {% for s in book.getScience %} {{ s.name }} {% endfor %}	</a></span></div>
                         
								</div>
								{% endif %}
								
								<div class="col-lg-12">
									<div>Langue : <span class="grise"><a class="" >{% for lang in book.getLanguage %} {{ lang.name }} {% endfor %} </a></span></div>
                       
								</div>
<div class="col-lg-12">
									<div>
						  Format : <span class="grise">
						  <a class="" >
							{% for f in book.getFormat %} {{ f.name }} {% endfor %}
						  </a>
						  </span>
						  
						  </div>
								</div>
								<ul id="left" class="pull-left">
                             

                              
                             
                          </ul>
							</div>
                          
                        </div>
                      </div>
                       
                   
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer%}
	{% block pagination %}
        <div class="container text-center">
            <ul class="pagination ">
                <li class="disabled"><a href="#come">&laquo;</a></li>
                {% for page in pages %}
                    <li><a href="{{ path(app.request.attributes.get('_route'), {'category':app.request.get('category')}) }}?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                <li class="disabled"><a href="#come">&raquo;</a></li>
            </ul>
        </div>
    {% endblock %}
	{{ parent() }}
{% endblock %}