{% extends "DROUSSBookBundle::base.html.twig" %}

{% block cumtom %}
    <style>
      #mother {
   		
	}
    </style>
{% endblock %}

{% block body %}
<div class="col-lg-12 milieu femme" style="margin-top: 0px">
                <div style="">
                  <h1 class="text-center" style="font-weight: bold;font-size: 66px;margin-bottom: 0;">Femmes</h1>
                  <p  class="text-center" style="position: relative;top: -15px;" ><strong><span class="">Musulmanes</span> - <span  class="">Aspirantes</span> - <span  class="">Vertueuses</span></strong></p>
                <p><a href="femmes_en.php" style="font-size: 20px">See page in English</a></p>
                </div>

                <div class="row">
                    <h2 class="text-warning text-danger">Les Indispensables</h2>

                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#souillure" href="{{ gbd }}/html/souillure.html">Les souillures</a>

                        <div class="modal modal-message modal-success fade" id="souillure" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#menstrue" href="{{ gbd }}/html/menstrue.html">Les Menstrues</a>

                       <div class="modal modal-message modal-success fade" id="menstrue" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#lochie" href="{{ gbd }}/html/lochie.html">Les Lochies</a>

                        <div class="modal modal-message modal-success fade" id="lochie" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>

                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#purification_maj" href="{{ gbd }}/html/purification_maj.html"> la purification
                            majeur</a>

                        <div class="modal modal-message modal-success fade" id="purification_maj" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#purification_" href="{{ gbd }}/html/purification.html"> La purification (la
                            pureté de l'eau, des tissus, de l'emplacement réservé à la prière et de la tenue
                            vestimentaire admise pour faire la prière)</a>

                       <div class="modal modal-message modal-success fade" id="purification_" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#abulition" href="{{ gbd }}/html/abulition.html"> L'abulition</a>

                       <div class="modal modal-message modal-success fade" id="abulition" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>

                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#voile" href="{{ gbd }}/html/voile.html"> Les caractéristiques et les
                            conditions du voile islamique</a>

                        <div class="modal modal-message modal-success fade" id="voile" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <h2 class="text-info">Femmes vertueuses</h2>
                    <a class="btn-link btn-xs" data-toggle="modal" data-target="#endurante" href="{{ gbd }}/html/endurante.html">Saydatouna Rahma, la dévote endurante</a><br>
                    <div class="modal modal-message modal-success fade" id="endurante" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    <a class="btn-link btn-xs" href="auteur_view.php?id=21">Soxna Maïmounatou Mbacké (al Kubra)</a><br>
                    <a class="btn-link btn-xs" href="auteur_view.php?id=19">Soxna Maïmounatou Mbacké (as Suhra)</a><br/>
                    <a class="btn-link btn-xs" data-toggle="modal" data-target="#mardiya" href="{{ gbd }}/html/mardiya.html">Aminata Lo Soxna Al Mardiyya</a>
                    <div class="modal modal-message modal-success fade" id="mardiya" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                </div>
                <div class="row">
                    <h2 class="" style="color:#c9991d">A vous les Femmes !!!</h2>

                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#vh">Des Versets et des Hadiths au
                            femmes</a>

                        <div class="modal modal-message modal-success fade" id="vh" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>

                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#pg" href="{{ gbd }}/html/polygamie.html">La polygamie</a>

                        <div class="modal modal-message modal-success fade" id="pg" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>

                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#pa"  href="{{ gbd }}/html/parite.html">La parité homme-femmes, prenez
                            garde!</a>

                        <div class="modal modal-message modal-success fade" id="pa" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#pla"  href="{{ gbd }}/html/planning.html">Limitation des naissances et planning familial </a>

                        <div class="modal modal-message modal-success fade" id="pla" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">
                    <h2 class="text-success">Articles</h2>

                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#ar1" href="{{ gbd }}/html/sokhnaDiarra.html">Sokhna Diarra : trente-trois
                            hivernages seulement pour toutes ces merveilles !!!</a>

                        <div class="modal modal-message modal-success fade" id="ar1" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <a class="btn-link btn-xs" data-toggle="modal" data-target="#ar2" href="{{ gbd }}/html/porokhane.html">Porokhane: Au sein du
                            mouridisme!</a>

                        <div class="modal modal-message modal-success fade" id="ar2" style="display: none;" aria-hidden="true">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="">



                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2>Telecharger</h2>
                    <a class="btn-link btn-xs" href="livres.php?id=26">Khouratoul Ayni</a><br>
                    <a class="btn-link btn-xs" href="livres.php?id=145">Jigeen bu dee sey - Jigeen balaa baax </a><br>
                    <a class="btn-link btn-xs" href="livres.php?id=67">Lettres aux croyantes </a><br>
                    <a class="btn-link btn-xs" data-toggle="modal" data-target="#sf">La sainteté au féminin </a><br>
                     <div class="modal fade" id="sf">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="background-color: rgb(255, 255, 255) ! important;">


<button type="button" class="close" data-dismiss="modal">x</button><hr>
                                &nbsp;&nbsp;&nbsp;<a href="view.php?c=chku&n=La sainteté au féminin"  target="_blank" class="btn btn-xs btn-success"> La sainteté au féminin</a>
                                <a  target="_blank" class="btn btn-xs btn-danger" href="Required/pdf/MameDiarraBousso.pdf">Telecharger Pdf</a>
                                <br>
                                <hr>

                                </div>

                            </div>

                        </div>
                    <a class="btn-link btn-xs" data-toggle="modal" data-target="#osd">L'oeuvre agréée de Sokhna Diarra </a><br>
                     <div class="modal fade" id="osd">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="background-color: rgb(255, 255, 255) ! important;">


<button type="button" class="close" data-dismiss="modal">x</button><hr>
                                &nbsp;&nbsp;&nbsp;<a href="view.php?c=pxgh&n=L'oeuvre agréée de Sokhna Diarra"  target="_blank" class="btn btn-xs btn-success"> L'oeuvre agréée de Sokhna Diarra</a>
                                <a  target="_blank" class="btn btn-xs btn-danger" href="Required/pdf/OeuvreSoxnaDiarra.pdf">Telecharger Pdf</a>
                                <br>
                                <hr>

                                </div>

                            </div>

                        </div>
                     <a class="btn-link btn-xs" data-toggle="modal" data-target="#dsd">Dundug Soxna Jaara </a><br><br>
                     <a href="faq.php" style="font-size: 20px">Des questions et des réponses</a><br>
                     
                     <div class="modal fade" id="dsd">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content " style="background-color: rgb(255, 255, 255) ! important;">


<button type="button" class="close" data-dismiss="modal">x</button><hr>
                                &nbsp;&nbsp;&nbsp;<a href="view.php?c=tljk&n=Dundug Soxna Jaara"  target="_blank" class="btn btn-xs btn-success"> Dundug Soxna Jaara</a>
                                <a  target="_blank" class="btn btn-xs btn-danger" href="Required/pdf/DundugSoxnaJaara.pdf">Telecharger Pdf</a>
                                <a  target="_blank" class="btn btn-xs btn-warning" href="Required/pdf/DundugSoxnaJaara.epub">Telecharger epub</a>
                                <br>
                                <hr>

                                </div>

                            </div>

                        </div>
                </div>
                
                
            </div>
{% endblock %}